<!DOCTYPE html>
<html lang="en" dir="ltr" class="uk-notouch">
<head>
	<meta charset="utf-8">
	<title>ArtNet</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/uikit.min.css">
	<link rel="stylesheet" type="text/css" href="css/docs.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/uikit.min.js"></script>

</head>
<body class="tm-background">

	<div class="tm-section tm-section-color-1 tm-section-colored">
		<div class="uk-container uk-container-center uk-text-center">
			<h1 class="uk-heading-large">ArtNet</h1>
			<p class="uk-text-large">
				Create Artwork using Deep Learning
			</p>
			<a href="/demo" class="uk-button tm-button-download">Try Online Demo</a>
			<ul class="tm-subnav uk-subnav uk-flex-center">
				<li><a href="https://github.com/vra/ArtNet">GitHub</a></li>
				<li><a href="http://home.ustc.edu.cn/~wangyf11/">Author</a></li>
				<li data-uikit-version>Version 0.001</li>
			</ul>
		</div>
	</div>

	<div class="tm-section tm-section-color-2 tm-section-colored">
		<div class="uk-container uk-container-center uk-text-center">
			<h1 class="uk-heading-large">How It Works</h1>
			<p class="uk-text-large">
				ArtNet use Deep Learning to learn the style of certain artwork, then transfer your image to that style.
				<br class="uk-hidden-small">
				which is also known as style transfer
			</p>
			<div class="uk-grid" data-uk-grid-margin>
				<div class="uk-width-medium-1-4 uk-row-first">
					<div class="uk-panel">
						<a href="https://www.tensorflow.org" alt=""><i class="uk-icon-google uk-icon-large"></i></a>
						<h2 class="uk-margin-top-remove">TensorFlow</h2>
						<p>
							This project is powered by the deep learning toolkit TensorFlow, which uses using data flow graphs for scalable machine learning.
						</p>
					</div>
				</div>

				<div class="uk-width-medium-1-4">
					<div class="uk-panel">
						<a href="https://github.com/lengstrom/fast-style-transfer" alt=""><i class="uk-icon-github-alt uk-icon-large"></i></a>
						<h2 class="uk-margin-top-remove">fast-style-transfer</h2>
						<p>
							The back end of this project is based on fast-style-transfer. We use it to train model and run style transfer.
						</p>
					</div>
				</div>

				<div class="uk-width-medium-1-4">
					<div class="uk-panel">
						<a href="https://getuikit.com" alt=""><i class="uk-icon-code uk-icon-large"></i></a>
						<h2 class="uk-margin-top-remove">UIKit</h2>
						<p>
							The front end of this project is based on UIKit, which is a ightweight and modular front-end framework for developing fast and powerful web interfaces.
						</p>
					</div>
				</div>

				<div class="uk-width-medium-1-4">
					<div class="uk-panel">
						<a href="https://www.aliyun.com/" alt=""><i class="uk-icon-cloud uk-icon-large"></i></a>
						<h2 class="uk-margin-top-remove">Alibaba Cloud</h2>
						<p>
							This project is deployed on Alibaba Cloud. A machine with 1GB memory, 1M bandwith is behind this project.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tm-section tm-section-color-white">
		<div class="uk-container uk-container-center uk-text-center">
			<h1 class="uk-heading-large">Features</h1>
			<p class="uk-text-large">
				ArtNet has several styles you can try, gives you cool results, with relatively fast speed.
			</p>

			<div class="uk-grid" data-uk-grid-margin>
				<div class="uk-width-medium-1-3 uk-row-first">
					<div class="uk-panel">
						<p><i class="uk-icon-file-photo-o uk-icon-large"></i></p>
						<h2 class="uk-margin-top-remove">Plentiful</h2>
						<p>
							We provide many styles you can transfer to. All of them are from famous artwork.
						</p>
					</div>
				</div>

				<div class="uk-width-medium-1-3">
					<div class="uk-panel">
						<p><i class="uk-icon-child uk-icon-large"></i></a>
						<h2 class="uk-margin-top-remove">Cool</h2>
						<p>
							We use deep learning to learn the inner style of artworks. Create your awesome artwork by yourself.
						</p>
					</div>
				</div>

				<div class="uk-width-medium-1-3">
					<div class="uk-panel">
						<p><i class="uk-icon-flash uk-icon-large"></i></p>
						<h2 class="uk-margin-top-remove">Fast</h2>
						<p>
							Although we only use a CPU with only one core, we can finish your artwork in few seconds.
						</p>
					</div>
				</div>
			</div>
		</div>

		</div>
	</div>



	<div class="tm-section tm-section-color-2 tm-section-colored">
		<div class="uk-container uk-container-center uk-text-center">
			<h1 class="uk-heading-large uk-margin-bottom-remove">
				Open Source
			</h1>
			<p class="uk-text-large">
				This project is open sourced, and hosted on <a href="">GitHub</a>, under the MIT License. 
				<br class="uk-hidden-small">
				You can fork it, raise an issue, make a pull request, or contact me there.
			</p>

			<div class="uk-grid uk-grid-divider" data-grid-margin>
				<div class="uk-width-1-1 uk-width-medium-1-3 uk-row-first">
					<div class="uk-panel">
						<h2>MIT License</h2>
						<p>
							ArtNet is free of charge and you can use, copy, merge, publish and distribute the framework without any limitations.
						</p>
					</div>
				</div>
				<div class="uk-width-1-1 uk-width-medium-1-3 uk-row-first">
					<div class="uk-panel">
						<h2>Contributions Welcome</h2>
						<p>
							This project is based on many open source projects and We hope you can join us to improve this project.
						</p>
					</div>
				</div>
				<div class="uk-width-1-1 uk-width-medium-1-3 uk-row-first">
					<div class="uk-panel">
						<h2>Join community</h2>
						<p>
							We have a Gitter chatroom. Any questions? ask me there. Also, you can send an e-mail to me at nafengjingtaimei [at] gmail.com
						</p>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<div class="tm-footer">
		<div class="uk-container uk-container-center uk-text-center">
			<ul class="uk-subnav uk-subnav-line uk-flex-center">
				<li><a href="https://github.com/vra/ArtNet">GitHub</a></li>
				<li><a href="https://github.com/vra/ArtNet/issues">Issues</a></li>
				<li><a href="http://home.ustc.edu.cn/~wangyf11/">Author</a></li>
				<li><a href="mailto:nafengjingtaimei@gmail.com">Email</a></li>
			</ul>
			<div class="uk-panel">
				<p>
					Made by Yunfeng Wang with love.
					<br class="uk-hidden-small">
					Liensed under MIT liences.
				</p>
				<h1 class="uk-heading-large">ArtNet</h1>
			</div>


		</div>
	</div>
</body>
</html>